@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* fonts-family--
font-family: "Noto Sans", serif;
font-family: "Pompiere", serif;
font-family: "Poppins", serif;
font-family: "Roboto", serif;
font-family: "Source Sans 3", serif;
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 1em;
    font-family: "Source Sans 3", serif;
}

body{
    min-height: 100dvh;
}

/*Class Generica Geral*/
.flex{
    display: flex;
}

.grid{
    display: grid;
}

.max-container1280{
    width:1280px;
    margin: auto;
}
/* .subtitle{
    display: block;
}
ion-icon{
    font-size: 5em;
}
p{
    font-size: 1.5em;
} */

.headerTop{
    background-color: red;
}
.container-hTop{
    background-color: blue;
}
.logoBox-hTop{

    width: 3em;
}
.logo-hTop{
    width: 100%;
}

.boxSearch-hTop{}
.boxSearch-hTop label{}
.boxSearch-hTop label input{}
.boxSearch-hTop ion-icon{}

.navBar-hTop{}
.menuBar-hTop{
}

.ulMenu-hTop{}
.ulMenu-hTop li{
    list-style: none;
}
.ulMenu-hTop li a{
    color: white;
    transition: height 2s all;
}
.ulSubMenu-hTop{
    
}   
.ulMenu-hTop li a:hover .ulSubMenu-hTop{
    
}





