@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* fonts-family--
font-family: "Noto Sans", serif;
font-family: "Pompiere", serif;
font-family: "Poppins", serif;
font-family: "Roboto", serif;
font-family: "Source Sans 3", serif;
*/
:root{
    --max-cont:1280px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 1em;
    font-family: "Source Sans 3", serif;
}

body{
    min-height: 100dvh;
}

/*Class Generica Geral*/
.flex{
    display: flex;
}

.grid{
    display: grid;
}

.max-container1280{
    width:1200px;
    margin:0 auto;
}

.headerTop{
    padding: 1em 0;
}
.container{
   justify-content: space-between;
}
.logoBox{
    width: 3em;
}
.logo{
    width: 100%;
}
.boxSearch{
    align-items: center;
    width: 30%;
}
.boxSearch label{
    width: 100%;
}
.boxSearch label input{
    width: 100%;
}
.boxSearch ion-icon{
    padding: 2px;
    color: white;
    background-color: #3c3c3c;
}

.navBar{
    position: relative;
    /* display: none; */
}
.menuBar{
    
}

.ulMenu{
    background-color: rgb(111, 124, 248);
}
.ulMenu li{
    list-style: none;
}
.ulMenu li a{
    padding: 5px;
    text-decoration: none;
    background-color: rgb(30, 61, 61);
    color: whitesmoke;
    border: 1px solid;
    transition: background-color 1s;
    
}

/* .ulMenu li .a-link:hover{
    
}

.ulMenu li .a-link.show .divSubMenu{
  
} */

.divSubMenu{
    position: absolute;
    
    left: 0;
    padding: 2%;
    justify-content: space-between;
}   
.SubMenuItens{
    
}




/*__SECTIONS__*/

.sections{
    padding: 6rem 0;
}

.titleSections{
    text-transform: uppercase;
}

.subSections{
    padding-top: 0.5rem;
    border-top: 0.2rem solid #000;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 280px));
}

/* card */
.card{
    box-shadow: 0 0 6px 1px;
    padding:5px;
}

.card-item{
    text-decoration: none;
    flex-direction: column;
}

.card-img{
    height: 250px;
    border-bottom: 1px solid;
}
.card-imgProduct{
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* .img{
    width: 100%;
    max-width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: contain;

} */

.card-title{
    margin-top: .9em;
    font-size: 1.250em;
    padding: 0 .5rem;
    color: #3c3c3c;
    flex:1;
}

.card-price{
    color: #3c3c3c;
    font-family:'Pompins' serif;
    font-size: 2.5em;
    font-weight: 600;
}

.card-btn{
    text-align: center;
}

.card-buy{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #3a3a3a;
}


/* card-Details */
.card-boxDetails{
    display: none;
}

/* card-end */